.swiper-button-prev:after {
    content: '' !important;
}

.swiper-button-next:after {
  content: '' !important;
}

.swiper-pagination-bullet {
  // background: #fff;
  // opacity: 1;
}

.swiper-pagination-bullet-active {
  background: #4B4232 !important;
}
